
@import url("https://fonts.googleapis.com/css2?family=Nunito&family=Poppins&display=swap");

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

body {
    font-family:Poppins;
} 

img{
    background-size: cover;
    height: 100vh;
    width: 100%;
    background-repeat: no-repeat;
}

.navbar {
    position: absolute;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    width: 100%;
}

.navbar a {
    color:white;
    font-weight: bold;
}

.navbar .logo {
    font-size: 2em;
    font-weight: bold;
}

.navbar .navlinks ul {
    display: flex;

}

.navbar .navlinks ul li {
    padding: 0 25px;
}

.navbar .menu-hamburger{
    position: absolute;
    top: 50px;
    right: 50px;
    width: 35px;
    height: 35px;
    display: none;
}
 /* .navlinks ul li a::after{
    content: " ";
    background-color: pink;
    height: 3px;
    width: 0;
    position: absolute;
    left: 0;
    bottom: px;
    transition: 0.3s;
}
.navlinks ul li a:hover::after{
    width: 100%;
} */
.content{
    top: 52%;
    left: 50%;
    text-align: center;
    width: 100%;
    position: absolute;
transform: translate(-70%, -70%);
padding: 0 20px;
}
span{
    font-size: 40px;
color:#9d4edd;
}
h2{
    font-size: 40px;
    color: white;
}

@media screen and (max-width:900px) {

    .navbar {
        padding: 0;
    }

    .navbar .logo {
        position: absolute;
        top: 50px;
        left: 50px;
    }

    .navbar .navlinks ul li {
        margin: 25px 0;
        font-size: 1.5em;
    }

    .navlinks {
        display: flex;
        position: absolute;
        width: 100%;
        height: 100vh;
        top: 0;
        left: 0;
        background-color: rgba(255, 255, 255, 0.20);
        backdrop-filter: blur(8px);
        align-items: center;
        justify-content: center;
    }

    .navlinks ul {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .navbar .menu-hamburger {
        display: block;
    }
}